.Matches {
    background-attachment: fixed;
}

.Matches-header {
    background-color: #282c34;
    background-image: url('background.jpeg');
    background-position: center;
    background-size: 1390px 720px;
    background-repeat: no-repeat;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}
